<a href="https://colab.research.google.com/github/rafaellccouto/postech_analise_vinhos_comercio/blob/main/Analise_vinhos_comercio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analise de dados comerciais de vinhos para planos estratégicos de investimentos

###  Alguns esclarecimentos se fazem necessários, para que os usuários façam o uso correto das informações:

    Os vinhos nacionais são classificados para fins estatísticos em vinho de mesa (elaborados com uvas americanas e/ou híbridas), vinho fino de mesa (elaborados com uvas Vitis Vinifera L.) e vinho especial (corte de vinho de mesa e fino de mesa).
    Os vinhos importados, denominados de vinhos de mesa são equivalentes aos vinhos finos de mesa nacionais, pois são elaborados com uvas Vitis Vinifera L.
    Os dados constantes da base de dados ALICEweb, referentes à vinhos e espumantes são expressos em quilos, no entanto considerando que a densidade desses produtos é de aproximadamente um (1), consideramos 1 Kg = 1L.
    Os arquivos de download possuem a extensão CSV, para facilitar a importação em planilhas ou banco de dados.

In [66]:
#Analise dados Vinhos
#Bibliotecas de manipulação de dados
import pandas as pd
import numpy as np
#Bibliotecas de visualização de dados
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
#Base de dados
df_comercialização = pd.read_csv('Comercializacao.csv', sep=';', on_bad_lines='skip')
df_exportacao = pd.read_csv('Exportacao.csv', sep=';', on_bad_lines='skip')
df_importacao = pd.read_csv('Importacao.csv', sep=';', on_bad_lines='skip')
df_processamento = pd.read_csv('Processamento.csv', sep=';', on_bad_lines='skip')
df_producao = pd.read_csv('Producao.csv', sep=';', on_bad_lines='skip')

In [67]:
df_comercialização.head()

,id,control,Produto,1970,1971,1972,1973,1974,1975,1976,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,VINHO DE MESA,VINHO DE MESA,98327606,114399031,118377367,116617910,94173324,108031792,139238614,...,206404427,209198468,166769622,176059959,177186273,180446489,215557931,210012238,187939996,187016848
1,2,vm_Tinto,Tinto,83300735,98522869,101167932,98196747,77167303,91528090,116407222,...,178250072,182028785,146646365,154309442,155115499,158519218,189573423,185653678,165067340,165097539
2,3,vm_Rosado,Rosado,107681,542274,7770851,8425617,8891367,7261777,11748047,...,1419855,1409002,1391942,1097426,1972944,1265435,1394901,1931606,2213723,2520748
3,4,vm_Branco,Branco,14919190,15333888,9438584,9995546,8114654,9241925,11083345,...,26734500,25760681,18731315,20653091,20097830,20661836,24589607,22426954,20658933,19398561
4,5,VINHO FINO DE MESA,VINHO FINO DE MESA,4430629,4840369,5602091,7202830,7571802,8848303,14095648,...,20424983,20141631,19630158,15874354,14826143,15684588,24310834,27080445,21533487,18589310

In [68]:
df_exportacao.head()

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,11,46,0,0,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,26,95,4,21,0,0,0,0,117,698
2,3,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,...,3660,25467,6261,32605,2698,6741,7630,45367,4806,31853
3,4,Angola,0,0,0,0,0,0,0,0,...,345,1065,0,0,0,0,4068,4761,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
df_importacao.head()

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Africa do Sul,0,0.0,0,0,0,0,0,0,...,1092042,3604038,627150,1701072,859169,2508140,738116,2266827,522733,1732850
1,2,Alemanha,52297,30498.0,34606,26027,134438,92103,111523,98638,...,101055,412794,136992,504168,106541,546967,92600,438595,102456,557947
2,3,Argélia,0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Arábia Saudita,0,0.0,0,0,0,0,0,0,...,0,0,0,0,2510,8761,0,0,8,161
4,5,Argentina,19525,12260.0,24942,15022,104906,58137,116887,76121,...,16548931,54527380,22610267,66322932,26869241,79527959,27980574,87519642,25276991,83918138

In [70]:
df_processamento.head()

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,TINTAS,TINTAS,10448228,11012833,10798824,8213674,17457849,22593885,20265190,...,29810706,29935627,13370866,32850915,26868514,nd,28003505,93296587,*,"35881118,23"
1,2,ti_Alicante Bouschet,Alicante Bouschet,0,0,0,0,0,0,0,...,1456305,1519576,908841,2040198,2103844,nd,2272985,811140,*,"4108858,21"
2,3,ti_Ancelota,Ancelota,0,0,0,0,0,0,0,...,937844,773526,179028,733907,492106,nd,481402,6513974,*,"783688,39"
3,4,ti_Aramon,Aramon,0,0,0,0,0,0,0,...,0,0,0,0,0,nd,0,0,*,0
4,5,ti_Alfrocheiro,Alfrocheiro,0,0,0,0,0,0,0,...,0,0,0,0,0,nd,0,0,*,0

In [71]:
df_producao.head()

,id,control,produto,1970,1971,1972,1973,1974,1975,1976,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,VINHO DE MESA,VINHO DE MESA,217208604,154264651,146953297,116710345,193875345,177401209,144565438,...,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995,195031611,169762429
1,2,vm_Tinto,Tinto,174224052,121133369,118180926,88589019,146544484,144274134,118360170,...,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996,162844214,139320884
2,3,vm_Branco,Branco,748400,1160500,1812367,243900,4138768,1441507,1871473,...,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799,30198430,27910299
3,4,vm_Rosado,Rosado,42236152,31970782,26960004,27877426,43192093,31685568,24333795,...,958691,939838,312725,36121245,875524,1551794,715289,1391200,1988968,2531246
4,5,VINHO FINO DE MESA (VINIFERA),VINHO FINO DE MESA (VINIFERA),23899346,23586062,21078771,12368410,31644124,39424590,34500590,...,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998,47511796,46268556

## Filtragem básica de dados: Últimos 15 anos (2009 - 2023), zerar dados nulos e consolidar dados semestrais em um ano só.

### Os valores nulos podem ser 0 pois representa a sua insignificância por não ter registro da EMBRAPA e não é possível valores menores que 0 para as grandezas analisadas

In [72]:
comercializacaofiltrada = df_comercialização.copy()

print("Primeiras 5 linhas do DataFrame comercializacaofiltrada (já filtrado de 1970 a 2007):")
print(comercializacaofiltrada.head())

Primeiras 5 linhas do DataFrame comercializacaofiltrada (já filtrado de 1970 a 2007):
   id              control              Produto      1970       1971  \
0   1        VINHO DE MESA        VINHO DE MESA  98327606  114399031
1   2             vm_Tinto                Tinto  83300735   98522869
2   3            vm_Rosado               Rosado    107681     542274
3   4            vm_Branco               Branco  14919190   15333888
4   5  VINHO  FINO DE MESA  VINHO  FINO DE MESA   4430629    4840369

        1972       1973      1974       1975       1976  ...       2014  \
0  118377367  116617910  94173324  108031792  139238614  ...  206404427
1  101167932   98196747  77167303   91528090  116407222  ...  178250072
2    7770851    8425617   8891367    7261777   11748047  ...    1419855
3    9438584    9995546   8114654    9241925   11083345  ...   26734500
4    5602091    7202830   7571802    8848303   14095648  ...   20424983

        2015       2016       2017       2018       2019       2020  \
0  209198468  166769622  176059959  177186273  180446489  215557931
1  182028785  146646365  154309442  155115499  158519218  189573423
2    1409002    1391942    1097426    1972944    1265435    1394901
3   25760681   18731315   20653091   20097830   20661836   24589607
4   20141631   19630158   15874354   14826143   15684588   24310834

        2021       2022       2023
0  210012238  187939996  187016848
1  185653678  165067340  165097539
2    1931606    2213723    2520748
3   22426954   20658933   19398561
4   27080445   21533487   18589310

[5 rows x 57 columns]

In [73]:
comercializacaofiltrada.head()

,id,control,Produto,1970,1971,1972,1973,1974,1975,1976,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,VINHO DE MESA,VINHO DE MESA,98327606,114399031,118377367,116617910,94173324,108031792,139238614,...,206404427,209198468,166769622,176059959,177186273,180446489,215557931,210012238,187939996,187016848
1,2,vm_Tinto,Tinto,83300735,98522869,101167932,98196747,77167303,91528090,116407222,...,178250072,182028785,146646365,154309442,155115499,158519218,189573423,185653678,165067340,165097539
2,3,vm_Rosado,Rosado,107681,542274,7770851,8425617,8891367,7261777,11748047,...,1419855,1409002,1391942,1097426,1972944,1265435,1394901,1931606,2213723,2520748
3,4,vm_Branco,Branco,14919190,15333888,9438584,9995546,8114654,9241925,11083345,...,26734500,25760681,18731315,20653091,20097830,20661836,24589607,22426954,20658933,19398561
4,5,VINHO FINO DE MESA,VINHO FINO DE MESA,4430629,4840369,5602091,7202830,7571802,8848303,14095648,...,20424983,20141631,19630158,15874354,14826143,15684588,24310834,27080445,21533487,18589310

In [74]:
comercializacaofiltrada.to_csv('comercializacao_filtrada.csv', index=False)
print("DataFrame 'comercializacaofiltrada' exportado para 'comercializacao_filtrada.csv'.")

DataFrame 'comercializacaofiltrada' exportado para 'comercializacao_filtrada.csv'.

```python
# Remover colunas de 1970 a 2008 (incluindo '.1')
columns_to_remove = []
for year in range(1970, 2008):
    year_str = str(year)
    year_str_dot_1 = year_str + '.1'
    if year_str in df_exportacao.columns:
        columns_to_remove.append(year_str)
    if year_str_dot_1 in df_exportacao.columns:
        columns_to_remove.append(year_str_dot_1)

df_exportacao = df_exportacao.drop(columns=columns_to_remove, errors='ignore')

# Consolidar colunas de ano de 2008 a 2023
for year in range(2008, 2024):
    col_year = str(year)
    col_year_dot_1 = col_year + '.1'

    if col_year_dot_1 in df_exportacao.columns:
        # Converter ambas as colunas para numérico, tratando erros como NaN e preenchendo com 0
        df_exportacao[col_year] = (
            pd.to_numeric(df_exportacao[col_year], errors='coerce').fillna(0) +
            pd.to_numeric(df_exportacao[col_year_dot_1], errors='coerce').fillna(0)
        )
        # Remover a coluna com sufixo '.1'
        df_exportacao = df_exportacao.drop(columns=[col_year_dot_1])
    elif col_year in df_exportacao.columns:
        # Garantir que a coluna de ano existente seja numérica, mesmo que não haja '.1'
        df_exportacao[col_year] = pd.to_numeric(df_exportacao[col_year], errors='coerce').fillna(0)

# Exibir as primeiras linhas do DataFrame consolidado
print("DataFrame 'df_exportacao' após remoção de colunas antigas e consolidação de anos:")
print(df_exportacao.head())
```

In [75]:
columns_to_remove = []
for year in range(1970, 2008):
    year_str = str(year)
    year_str_dot1 = str(year) + '.1'

    if year_str in df_exportacao.columns:
        columns_to_remove.append(year_str)
    if year_str_dot1 in df_exportacao.columns:
        columns_to_remove.append(year_str_dot1)

df_exportacao = df_exportacao.drop(columns=columns_to_remove, errors='ignore')

print(f"Colunas removidas de df_exportacao: {columns_to_remove}")
print("df_exportacao após remoção de colunas antigas:")
df_exportacao.head()

Colunas removidas de df_exportacao: ['1970', '1970.1', '1971', '1971.1', '1972', '1972.1', '1973', '1973.1', '1974', '1974.1', '1975', '1975.1', '1976', '1976.1', '1977', '1977.1', '1978', '1978.1', '1979', '1979.1', '1980', '1980.1', '1981', '1981.1', '1982', '1982.1', '1983', '1983.1', '1984', '1984.1', '1985', '1985.1', '1986', '1986.1', '1987', '1987.1', '1988', '1988.1', '1989', '1989.1', '1990', '1990.1', '1991', '1991.1', '1992', '1992.1', '1993', '1993.1', '1994', '1994.1', '1995', '1995.1', '1996', '1996.1', '1997', '1997.1', '1998', '1998.1', '1999', '1999.1', '2000', '2000.1', '2001', '2001.1', '2002', '2002.1', '2003', '2003.1', '2004', '2004.1', '2005', '2005.1', '2006', '2006.1', '2007', '2007.1']
df_exportacao após remoção de colunas antigas:

,Id,País,2008,2008.1,2009,2009.1,2010,2010.1,2011,2011.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,11,46,0,0,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,26,95,4,21,0,0,0,0,117,698
2,3,"Alemanha, República Democrática",265742,429970,225086,393482,27715,138666,36070,144150,...,3660,25467,6261,32605,2698,6741,7630,45367,4806,31853
3,4,Angola,25721,71083,54786,84235,33557,189891,13889,69001,...,345,1065,0,0,0,0,4068,4761,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
for year in range(2008, 2024):
    col_year = str(year)
    col_year_dot_1 = col_year + '.1'

    if col_year_dot_1 in df_exportacao.columns:
        # Convert both columns to numeric, treating errors as NaN and filling with 0
        df_exportacao[col_year] = (
            pd.to_numeric(df_exportacao[col_year], errors='coerce').fillna(0) +
            pd.to_numeric(df_exportacao[col_year_dot_1], errors='coerce').fillna(0)
        )
        # Remove the column with '.1' suffix
        df_exportacao = df_exportacao.drop(columns=[col_year_dot_1])
    elif col_year in df_exportacao.columns:
        # Ensure that the existing year column is numeric, even if there is no '.1'
        df_exportacao[col_year] = pd.to_numeric(df_exportacao[col_year], errors='coerce').fillna(0)

print("DataFrame 'df_exportacao' após consolidação de anos:")
df_exportacao.head()

DataFrame 'df_exportacao' após consolidação de anos:

,Id,País,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,57,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,0,0,0,121,25,0,0,815
2,3,"Alemanha, República Democrática",695712,618568,166381,180220,64531,327677,975001,55460,82121,103169,56176,29127,38866,9439,52997,36659
3,4,Angola,96804,139021,223448,82890,11694,10873,35306,18997,42749,71850,1186,1410,0,0,8829,0
4,5,Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [77]:
print("DataFrame 'df_exportacao' após remoção de colunas antigas e consolidação de anos:")
df_exportacao.head()

DataFrame 'df_exportacao' após remoção de colunas antigas e consolidação de anos:

,Id,País,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,57,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,0,0,0,121,25,0,0,815
2,3,"Alemanha, República Democrática",695712,618568,166381,180220,64531,327677,975001,55460,82121,103169,56176,29127,38866,9439,52997,36659
3,4,Angola,96804,139021,223448,82890,11694,10873,35306,18997,42749,71850,1186,1410,0,0,8829,0
4,5,Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [78]:
df_exportacao.to_csv('exportacao_filtrada.csv', index=False)
print("DataFrame 'df_exportacao' exportado para 'exportacao_filtrada.csv'.")

DataFrame 'df_exportacao' exportado para 'exportacao_filtrada.csv'.

In [79]:
df_exportacao_filtrada = pd.read_csv('exportacao_filtrada.csv')
df_exportacao_filtrada.head()

,Id,País,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,57,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,0,0,0,121,25,0,0,815
2,3,"Alemanha, República Democrática",695712,618568,166381,180220,64531,327677,975001,55460,82121,103169,56176,29127,38866,9439,52997,36659
3,4,Angola,96804,139021,223448,82890,11694,10873,35306,18997,42749,71850,1186,1410,0,0,8829,0
4,5,Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [81]:
columns_to_remove = []
for year in range(1970, 2008):
    year_str = str(year)
    year_str_dot1 = year_str + '.1'

    if year_str in df_importacao.columns:
        columns_to_remove.append(year_str)
    if year_str_dot1 in df_importacao.columns:
        columns_to_remove.append(year_str_dot1)

df_importacao = df_importacao.drop(columns=columns_to_remove, errors='ignore')

print(f"Colunas removidas de df_importacao: {columns_to_remove}")
print("df_importacao após remoção de colunas antigas:")
print(df_importacao.head())

for year in range(2008, 2024):
    col_year = str(year)
    col_year_dot_1 = col_year + '.1'

    if col_year_dot_1 in df_importacao.columns:
        # Convert both columns to numeric, treating errors as NaN and filling with 0
        df_importacao[col_year] = (
            pd.to_numeric(df_importacao[col_year], errors='coerce').fillna(0) +
            pd.to_numeric(df_importacao[col_year_dot_1], errors='coerce').fillna(0)
        )
        # Remove the column with '.1' suffix
        df_importacao = df_importacao.drop(columns=[col_year_dot_1])
    elif col_year in df_importacao.columns:
        # Ensure that the existing year column is numeric, even if there is no '.1'
        df_importacao[col_year] = pd.to_numeric(df_importacao[col_year], errors='coerce').fillna(0)

print("\nDataFrame 'df_importacao' após consolidação de anos:")
df_importacao.head()

Colunas removidas de df_importacao: ['1970', '1970.1', '1971', '1971.1', '1972', '1972.1', '1973', '1973.1', '1974', '1974.1', '1975', '1975.1', '1976', '1976.1', '1977', '1977.1', '1978', '1978.1', '1979', '1979.1', '1980', '1980.1', '1981', '1981.1', '1982', '1982.1', '1983', '1983.1', '1984', '1984.1', '1985', '1985.1', '1986', '1986.1', '1987', '1987.1', '1988', '1988.1', '1989', '1989.1', '1990', '1990.1', '1991', '1991.1', '1992', '1992.1', '1993', '1993.1', '1994', '1994.1', '1995', '1995.1', '1996', '1996.1', '1997', '1997.1', '1998', '1998.1', '1999', '1999.1', '2000', '2000.1', '2001', '2001.1', '2002', '2002.1', '2003', '2003.1', '2004', '2004.1', '2005', '2005.1', '2006', '2006.1', '2007', '2007.1']
df_importacao após remoção de colunas antigas:
   Id            País      2008    2008.1      2009    2009.1      2010  \
0   1   Africa do Sul    315380   1151699    493093   1931449    966276
1   2        Alemanha    293935   1063825     56075    291876    192661
2   3         Argélia         0         0         0         0         0
3   4  Arábia Saudita         0         0         0         0         0
4   5       Argentina  14417761  37382581  13902750  38521731  16965266

     2010.1      2011    2011.1  ...      2019    2019.1      2020    2020.1  \
0   3600658    507509   2136394  ...   1092042   3604038    627150   1701072
1    784674    198025    933545  ...    101055    412794    136992    504168
2         0         0         0  ...         0         0         0         0
3         0         0         0  ...         0         0         0         0
4  52126581  16673491  58806736  ...  16548931  54527380  22610267  66322932

       2021    2021.1      2022    2022.1      2023    2023.1
0    859169   2508140    738116   2266827    522733   1732850
1    106541    546967     92600    438595    102456    557947
2         0         0         0         0         0         0
3      2510      8761         0         0         8       161
4  26869241  79527959  27980574  87519642  25276991  83918138

[5 rows x 34 columns]

DataFrame 'df_importacao' após consolidação de anos:

,Id,País,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Africa do Sul,1467079,2424542,4566934,2643903,3763776,2460515,3756647,3739878,2265055,4380030,4701424,4696080,2328222,3367309,3004943,2255583
1,2,Alemanha,1357760,347951,977335,1131570,704410,528936,599120,453446,764719,399248,659946,513849,641160,653508,531195,660403
2,3,Argélia,0,0,0,0,0,0,0,0,43,0,0,0,0,0,0,0
3,4,Arábia Saudita,0,0,0,0,0,0,0,0,43,0,3812,0,0,11271,0,169
4,5,Argentina,51800342,52424481,69091847,75480227,70247401,62257509,67253277,60508242,59312871,67232582,68038960,71076311,88933199,106397200,115500216,109195129

In [82]:
df_importacao.to_csv('importacao_filtrada.csv', index=False)
print("DataFrame 'df_importacao' exportado para 'importacao_filtrada.csv'.")

DataFrame 'df_importacao' exportado para 'importacao_filtrada.csv'.

In [84]:
non_year_cols = ['id', 'control', 'cultivar']
year_cols = [str(year) for year in range(2009, 2024)]

# Combine non-year columns and desired year columns
columns_to_keep = non_year_cols + year_cols

# Filter the DataFrame to include only the specified columns
df_processamento_filtrado = df_processamento[columns_to_keep].copy()

# Process year columns
for col in year_cols:
    if col in df_processamento_filtrado.columns:
        # Convert to string to handle various data types, replace ',' with '.'
        df_processamento_filtrado[col] = df_processamento_filtrado[col].astype(str).str.replace(',', '.', regex=False)
        # Replace 'nd' and '*' with NaN
        df_processamento_filtrado[col] = df_processamento_filtrado[col].replace(['nd', '*'], np.nan)
        # Convert to numeric, coercing errors to NaN
        df_processamento_filtrado[col] = pd.to_numeric(df_processamento_filtrado[col], errors='coerce')
        # Fill NaN values with 0
        df_processamento_filtrado[col] = df_processamento_filtrado[col].fillna(0)

print("DataFrame 'df_processamento_filtrado' após filtragem e tratamento:")
print(df_processamento_filtrado.head())

DataFrame 'df_processamento_filtrado' após filtragem e tratamento:
   id               control           cultivar      2009      2010      2011  \
0   1                TINTAS             TINTAS  39148123  23633831  44473588
1   2  ti_Alicante Bouschet  Alicante Bouschet   1652912    849263   2130579
2   3           ti_Ancelota           Ancelota   1370728    853718   1346552
3   4             ti_Aramon             Aramon         0         0         0
4   5        ti_Alfrocheiro        Alfrocheiro     31168         0      4320

       2012      2013      2014      2015      2016      2017      2018  2019  \
0  39303313  36855419  29810706  29935627  13370866  32850915  26868514   0.0
1   2098824   1524728   1456305   1519576    908841   2040198   2103844   0.0
2   1274677   1137943    937844    773526    179028    733907    492106   0.0
3         0         0         0         0         0         0         0   0.0
4         0         0         0         0         0         0         0   0.0

       2020      2021  2022         2023
0  28003505  93296587   0.0  35881118.23
1   2272985    811140   0.0   4108858.21
2    481402   6513974   0.0    783688.39
3         0         0   0.0         0.00
4         0         0   0.0         0.00

/tmp/ipython-input-2280953978.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_processamento_filtrado[col] = df_processamento_filtrado[col].replace(['nd', '*'], np.nan)
/tmp/ipython-input-2280953978.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_processamento_filtrado[col] = df_processamento_filtrado[col].replace(['nd', '*'], np.nan)

In [85]:
df_processamento_filtrado.to_csv('processamento_filtrado.csv', index=False)
print("DataFrame 'df_processamento_filtrado' exportado para 'processamento_filtrado.csv'.")

df_processamento_carregado = pd.read_csv('processamento_filtrado.csv')
print("\nDataFrame 'df_processamento_carregado' após carregamento do CSV:")
print(df_processamento_carregado.head())

DataFrame 'df_processamento_filtrado' exportado para 'processamento_filtrado.csv'.

DataFrame 'df_processamento_carregado' após carregamento do CSV:
   id               control           cultivar      2009      2010      2011  \
0   1                TINTAS             TINTAS  39148123  23633831  44473588
1   2  ti_Alicante Bouschet  Alicante Bouschet   1652912    849263   2130579
2   3           ti_Ancelota           Ancelota   1370728    853718   1346552
3   4             ti_Aramon             Aramon         0         0         0
4   5        ti_Alfrocheiro        Alfrocheiro     31168         0      4320

       2012      2013      2014      2015      2016      2017      2018  2019  \
0  39303313  36855419  29810706  29935627  13370866  32850915  26868514   0.0
1   2098824   1524728   1456305   1519576    908841   2040198   2103844   0.0
2   1274677   1137943    937844    773526    179028    733907    492106   0.0
3         0         0         0         0         0         0         0   0.0
4         0         0         0         0         0         0         0   0.0

       2020      2021  2022         2023
0  28003505  93296587   0.0  35881118.23
1   2272985    811140   0.0   4108858.21
2    481402   6513974   0.0    783688.39
3         0         0   0.0         0.00
4         0         0   0.0         0.00

In [88]:
non_year_cols = ['id', 'control', 'produto']
year_cols = [str(year) for year in range(2009, 2024)]

# Combine non-year columns and desired year columns
columns_to_keep = non_year_cols + year_cols

# Filter the DataFrame to include only the specified columns
df_producao_filtrado = df_producao[columns_to_keep].copy()

# Process year columns
for col in year_cols:
    if col in df_producao_filtrado.columns:
        # Convert to string to handle various data types, replace ',' with '.'
        df_producao_filtrado[col] = df_producao_filtrado[col].astype(str).str.replace(',', '.', regex=False)
        # Replace 'nd' and '*' with NaN
        df_producao_filtrado[col] = df_producao_filtrado[col].replace(['nd', '*'], np.nan)
        # Convert to numeric, coercing errors to NaN
        df_producao_filtrado[col] = pd.to_numeric(df_producao_filtrado[col], errors='coerce')
        # Fill NaN values with 0
        df_producao_filtrado[col] = df_producao_filtrado[col].fillna(0)

print("DataFrame 'df_producao_filtrado' após filtragem e tratamento:")
print(df_producao_filtrado.head())

DataFrame 'df_producao_filtrado' após filtragem e tratamento:
   id                        control                        produto  \
0   1                  VINHO DE MESA                  VINHO DE MESA
1   2                       vm_Tinto                          Tinto
2   3                      vm_Branco                         Branco
3   4                      vm_Rosado                         Rosado
4   5  VINHO FINO DE MESA (VINIFERA)  VINHO FINO DE MESA (VINIFERA)

        2009       2010       2011       2012       2013       2014  \
0  205418206  195267980  257840749  212777037  196904222  196173123
1  164143454  157290088  210113358  175875432  163111797  157776363
2   39211278   35408083   46007504   34938249   32066403   37438069
3    2063474    2569809    1719887    1963356    1726022     958691
4   39900568   24805713   47598471   45200730   45782530   38464314

        2015      2016       2017       2018       2019       2020       2021  \
0  210308560  86319015  255015187  218375636  144629737  124200414  173899995
1  169811472  75279191    1365957  188270142  121045115  103916391  146075996
2   39557250  10727099  217527985   29229970   22032828   19568734   26432799
3     939838    312725   36121245     875524    1551794     715289    1391200
4   37148982  18070626   44537870   38707220   37615422   32516686   43474998

        2022       2023
0  195031611  169762429
1  162844214  139320884
2   30198430   27910299
3    1988968    2531246
4   47511796   46268556

In [89]:
df_producao_filtrado.to_csv('producao_filtrada.csv', index=False)
print("DataFrame 'df_producao_filtrado' exportado para 'producao_filtrada.csv'.")

df_producao_carregado = pd.read_csv('producao_filtrada.csv')
print("\nDataFrame 'df_producao_carregado' após carregamento do CSV:")
print(df_producao_carregado.head())

DataFrame 'df_producao_filtrado' exportado para 'producao_filtrada.csv'.

DataFrame 'df_producao_carregado' após carregamento do CSV:
   id                        control                        produto  \
0   1                  VINHO DE MESA                  VINHO DE MESA
1   2                       vm_Tinto                          Tinto
2   3                      vm_Branco                         Branco
3   4                      vm_Rosado                         Rosado
4   5  VINHO FINO DE MESA (VINIFERA)  VINHO FINO DE MESA (VINIFERA)

        2009       2010       2011       2012       2013       2014  \
0  205418206  195267980  257840749  212777037  196904222  196173123
1  164143454  157290088  210113358  175875432  163111797  157776363
2   39211278   35408083   46007504   34938249   32066403   37438069
3    2063474    2569809    1719887    1963356    1726022     958691
4   39900568   24805713   47598471   45200730   45782530   38464314

        2015      2016       2017       2018       2019       2020       2021  \
0  210308560  86319015  255015187  218375636  144629737  124200414  173899995
1  169811472  75279191    1365957  188270142  121045115  103916391  146075996
2   39557250  10727099  217527985   29229970   22032828   19568734   26432799
3     939838    312725   36121245     875524    1551794     715289    1391200
4   37148982  18070626   44537870   38707220   37615422   32516686   43474998

        2022       2023
0  195031611  169762429
1  162844214  139320884
2   30198430   27910299
3    1988968    2531246
4   47511796   46268556

## Análise com métodos estatísticos

### Regressão Linear